BOOKCARS_API_URL=http://localhost:4002
BOOKCARS_DEFAULT_SUPPLIER_ID=
NEXT_PUBLIC_SITE_NAME="Move Car Rental"
NEXT_PUBLIC_DEFAULT_LANGUAGE=en
NEXT_PUBLIC_DEFAULT_CURRENCY=USD
NEXT_PUBLIC_BOOKCARS_CDN_CARS=http://localhost:4002/cdn/bookcars/cars
NEXT_PUBLIC_BOOKCARS_CDN_USERS=http://localhost:4002/cdn/bookcars/users
